hr {
    margin: 20px 0;
}

h3 {
    margin: 0;
}

.task_content {
    background-color: #272833;
    padding: 24px;
    margin: 24px 0;
    border-radius: 4px;
}

.submission{
    margin-top: 24px;
}

#profile_parent {
    padding: 24px;
    margin: 24px;
    border-radius: 4px;
}

@media (max-width: 735px) { 
    #dashboard_content {
      display: flex;
      flex-direction: column-reverse;
    }
  }

@media (min-width: 736px){ 
    #dashboard_content {
      display: flex;
      flex-direction: row;
    }
  }